doctype 5
html(lang='en')
  head

    meta(charset="utf-8")
    title avopenstudios :: artcode
    link(href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css", rel="stylesheet")
    link(href="http://netdna.bootstrapcdn.com/bootswatch/2.1.1/cosmo/bootstrap.min.css", rel="stylesheet")
    style(type="text/css")
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='') avopenstudios :: artcode
    .container

      .hero-unit(style="padding:30px 50px")
        h1 Learn to code.
          small(style="color:grey")  Make art happen.
        br
        p
          <code style="color:black">artcode</code>
          | is an online programming study guide that helps you navigate the maze of technologies available for digital artistic creation. We use the programming enviroment that is universally available and based on open standards: <strong>the Web</strong>.
        p.text-right.hidden
          a.btn.btn-inverse.btn-large(href='/code/') Start Coding »

      .row
        .span6
          h2 About the guide
          p
            | The course material is under development. <br/> Read about the guiding principles below.
          p
            a.btn.btn-inverse(href='how.html') Learn More »
        .span6
          h2 In Real Life
          p
            | The guide is augmented by weekly workshops at <a href="http://avopenstudios.com/">AV Open Studios</a> in Budapest, Hungary. Here we help students realize their artistic vision by providing technological guidance and assisting in the design and development of their projects.
          p
            a.btn.btn-primary(href='join.html') Join the Class »

    a(href="https://github.com/brainrape/artcode")
      img(style="position: fixed; top: 0; right: 0; border: 0; z-index:10000", src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", alt="Fork me on GitHub")
